<%- include("layouts/header") %>
    <%
        const title = (typeof form != 'undefined' && form?.title != '') ? form.title : '';
    %>

    <% if (isMyChannel) { %>
        <form action="/user/edit-avatar" method="POST" enctype="multipart/form-data" id="form-change-profile-picture">
            <input
                type="file"
                id="input-file-change-profile-picture"
                style="display: none;"
                accept="image/*"
                name="image"
                required
                onchange="uploadAvatar(this);"
            >
        </form>

        <form action="/user/edit-cover-avatar" method="POST" enctype="multipart/form-data" id="form-change-cover-picture">
            <input
                type="file"
                id="input-file-change-cover-photo"
                style="display: none;"
                accept="image/*"
                name="image"
                required
                onchange="uploadCoverPhoto(this);"
            >
        </form>
    <% } %>

    <div class="container">
        <div class="row">
            <% if (isMyChannel) { %>
                <img
                    src="<%= baseUrl + user.coverPhoto %>"
                    class="img-fluid cover-photo"
                    style="cursor: pointer;"
                    onerror="this.src = 'http://placehold.it/1900x250'"
                    onclick="document.getElementById('input-file-change-cover-photo').click();"
                >
            <% } else { %>
                <img
                    src="<%= baseUrl + user.coverPhoto %>"
                    class="img-fluid cover-photo"
                    onerror="this.src = 'http://placehold.it/1900x250'"
                >
            <% } %>
        </div>
        
        <div class="container my-4">
            <div class="row">
                <div class="col-md-2">
                    <% if (isMyChannel) { %>
                        <img
                            src="<%= baseUrl + user.image %>"
                            class="img-fluid profile-photo"
                            style="cursor: pointer;"
                            onerror="this.src = 'http://placehold.it/150x150'"
                            onclick="document.getElementById('input-file-change-profile-picture').click();"
                        >
                    <% } else { %>
                        <img
                            src="<%= baseUrl + user.image %>"
                            class="img-fluid profile-photo"
                            onerror="this.src = 'http://placehold.it/150x150'"
                        >
                    <% } %>
                </div>
                <div class="col-md-8">
                    <h3><%= user.name %></h3>
                    <p class="subscribers-subscription"><%= user.subscribers.length %> subscribers</p>
                </div>

                <% if (isLogin) { %>
                    <% if (isMyChannel) { %>
                        <div class="col-md-2 align-self-end">
                            <a href="/upload" class="btn btn-login"><i class="fas fa-cloud-upload-alt"></i> Upload video</a>
                        </div>
                    <% } else { %>
                        <div class="col-md-2 align-self-end">
                            <% if (subscriber != null) { %>
                                <div class="subscribe-wrap" style="position: relative;" onclick="togglePopupOptionSubscribe(this);">
                                    <div class="btn btn-login">
                                        <i class="far fa-bell"></i>
                                        <span>Subscribed</span>
                                        <i class="fas fa-angle-down"></i>
                                    </div>
                                    <div class="option-subscriber" data-subscribe-id="<%= user._id %>">
                                        <div onclick="unSubscribe(this);">
                                            <i class="fas fa-user-slash"></i>
                                            <span>Unsubscribe</span>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <button class="btn btn-login" type="button" onclick="subscribe(this);" data-subscribe-id="<%= user._id %>">
                                    Subscribe
                                </button>
                            <% } %>
                        </div>
                    <% } %>
                <% } %>
            </div>

            <!-- Playlist function create -->
            <!-- <% if (isMyChannel) { %>
                <form action="/video/playlist/create" method="POST">
                    <div class="form-group">
                        <label>Playlist title</label>
                        <input type="text" name="title" class="form-control">
                        <% if (typeof errors !== 'undefined' && errors?.title?.msg != "") { %>
                            <div class="error invalid-feedback" style="display: inline;">
                                <%= errors?.title?.msg %>
                            </div>
                        <% } %>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Create List">
                </form>
            <% } %> -->

            <div class="row my-4">
                <%
                    const playlists = user.playlist.reverse();
                    playlists.forEach(playlist => {
                %>
                    <div class="col-md-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3><%= playlist.title %></h3>
                            </div>
                            <div class="card-footer">
                                <% if (playlist.videos.length > 0) { %>
                                    <a href="/video/playlist/<%= playlist._id %>/<%= playlist.videos[0].watch %>" class="btn btn-primary">View</a>
                                <% } else { %>
                                    <span>Playlist is empty</span>
                                <% } %>

                                <% if (isMyChannel) { %>
                                    <form
                                        method="POST"
                                        action="/video/playlist/remove"
                                        onsubmit="return confirm('Do you really want to continue this playlist ?');"
                                        style="display: contents;"
                                    >
                                        <input type="hidden" name="_id" value="<%= playlist._id %>">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
            
            <hr>

            <h3>My Videos</h3>

            <hr>

            <% 
                const chunkSize = 3;

                // How to chunk data on Js
                const chunkVideos = user.videos.reverse().reduce((acc, curr, i) => {
                    if (i % chunkSize === 0) {
                        acc.push([]);
                    }
                    acc[acc.length - 1].push(curr);
                    return acc;
                }, []);

                chunkVideos.forEach(videos => {
            %>
            <div class="row">
                <% videos.forEach(video => { %>
                    <div class="col-md-4">
                        <a href="/watch/<%= video.watch %>" class="video-container">
                            <div class="video-wrap">
                                <div class="thumbnail-video-wrap">
                                    <img
                                        src="<%= baseUrl + video.thumbnail %>"
                                        alt="videos"
                                        class="card-img-top"
                                    >
                                    <span><%= video.minutes + ":" + video.seconds %></span>
                                </div>
    
                                <div class="video-info-wrap">
                                    <div class="video-info-channel">
                                        <img
                                            src="<%= baseUrl + user.image %>"
                                            onerror="this.src = 'http://placehold.it/150x150'"
                                            class="circle-bars avatar-bars"
                                            data-channel-id="<%= user._id %>"
                                            onclick="redirectToChannel(event);"
                                        />
                                    </div>
                                    <div class="video-info">
                                        <div class="video-info__title three-dot-video-name">
                                            <%= video.title %>
                                        </div>
                                        <div class="video-info__text">
                                            <%= user.name %>
                                        </div>
                                        <div class="video-info__text">
                                            <%= video.views + ' lượt xem' %> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- <div class="card-footer">
                            <a href="/watch/<%= video.watch %>" class="btn btn-primary">View</a>

                            <% if (isMyChannel) { %>
                                <a href="/video/edit/<%= video.watch %>" class="btn btn-warning">Edit</a>

                                <form action="/video/delete" method="POST" onsubmit="return confirm('Do you really want continue delete this video ?');" style="display: contents;">
                                    <input type="hidden" name="_id" value="<%= video._id %>">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            <% } %>
                        </div> -->
                    </div>
                <% }) %>
            </div>
            <% }) %>
        </div>
    </div>

    <script>
        function uploadAvatar(self) {
            const form = document.getElementById("form-change-profile-picture");
            // const file = form.querySelector('input[name="image"]').files[0];
            const ajax = new XMLHttpRequest();
            const formData = new FormData(form);

            ajax.open(form.method, form.action, true);
            // ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"); // Not use when upload file
            
            ajax.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    const response = JSON.parse(this.responseText);
                    
                    if (response.type === 'error') {
                        alert(response.errors.image.msg);
                    }

                    if (response.type === 'success') {
                        window.location = `${baseUrl}channel/${response.channelId}`;
                    }

                    if (response.type === 'login') {
                        window.location = baseUrl + 'login';
                    }
                }
            }
            
            // formData.append(file.name, file);

            ajax.send(formData);
            
            return true;
        }

        function uploadCoverPhoto(self) {
            const form = document.getElementById("form-change-cover-picture");
            const ajax = new XMLHttpRequest();
            const formData = new FormData(form);

            ajax.open(form.method, form.action, true);
            
            ajax.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    const response = JSON.parse(this.responseText);

                    if (response.type === 'error') {
                        alert(response.errors.image.msg);
                    }
                    
                    if (response.type === 'success') {
                        const reader = new FileReader();
                        const file = form.querySelector('input[name="image"]').files[0];
                        const previewImage = document.querySelector('.cover-photo');

                        reader.onload = function(event) {
                            previewImage.src = event.target.result;
                        }

                        reader.readAsDataURL(file);
                    }

                    if (response.type === 'login') {
                        window.location = baseUrl + 'login';
                    }
                }
            }
            
            ajax.send(formData);
            
            return true;
        }
    </script>
<%- include("layouts/footer") %>