<%- include("layouts/header") %>
    <div class="container my-4" id="videos-container">
        <% videos.forEach(chunkVideos => { %>
        <div class="row text-center">
            <% chunkVideos.forEach(video => { %>
                <div class="col-md-4 mb-4">
                    <a href="/watch/<%= video.watch %>" class="video-container">
                        <div class="video-wrap">
                            <div class="thumbnail-video-wrap">
                                <img
                                    src="<%= video.thumbnail %>"
                                    alt="videos"
                                    class="card-img-top"
                                >
                                <span><%= video.minutes + ":" + video.seconds %></span>
                            </div>

                            <div class="video-info-wrap">
                                <div class="video-info-channel">
                                    <img
                                        src="<%= baseUrl + video.user.image %>"
                                        onerror="this.src = 'http://placehold.it/150x150'"
                                        class="circle-bars avatar-bars"
                                        data-channel-id="<%= video.user._id %>"
                                        onclick="redirectToChannel(event);"
                                    />
                                </div>
                                <div class="video-info">
                                    <div class="video-info__title three-dot-video-name">
                                        <%= video.title %>
                                    </div>
                                    <div class="video-info__text">
                                        <%= video.user.name %>
                                    </div>
                                    <div class="video-info__text">
                                        <%= video.views + ' lượt xem' %> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
        <% }) %>
    </div>
<%- include("layouts/footer") %>