<%- include("layouts/header") %>
    <%
        const email = (typeof form != 'undefined' && form?.email != '') ? form.email : '';
    %>

    <div class="container">
        <div class="row my-4">
            <div class="col-md-12">
                <h1>Login</h1>

                <% if (typeof fail !== 'undefined') { %>
                    <div class="alert alert-danger" role="alert">
                        <%= fail %>
                    </div>
                <% } %>

                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" class="form-control" value="<%= email %>">
                        <% if (typeof errors !== 'undefined' && errors?.email?.msg != "") { %>
                            <div class="error invalid-feedback" style="display: inline;">
                                <%= errors?.email?.msg %>
                            </div>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control">
                        <% if (typeof errors !== 'undefined' && errors?.password?.msg != "") { %>
                            <div class="error invalid-feedback" style="display: inline;">
                                <%= errors?.password?.msg %>
                            </div>
                        <% } %>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
<%- include("layouts/footer") %>