<%- include('layouts/header') %>
    <div class="container my-4">
        <%
            const subscriptions = user.subscriptions.reverse();
            subscriptions.forEach(subscription => {
        %>
            <div class="row h-70">
                <div class="col-md-3 text-center">
                    <img
                        src="<%= baseUrl + subscription.image %>"
                        style="width: 70%;"
                        class="circle-bars"
                        onerror="this.src = 'http://placehold.it/1900x700'"
                        
                    >
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12 name-subscription">
                            <%= subscription.name %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 subscribers-subscription">
                            <%= subscription.subscribers %> subscribers
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="display: grid; place-items: center;">
                    <div class="subscribe-wrap" style="position: relative;" onclick="togglePopupOptionSubscribe(this);">
                        <div class="btn btn-login">
                            <i class="far fa-bell"></i>
                            <span>Subscribed</span>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <div class="option-subscriber" data-subscribe-id="<%= subscription._id %>">
                            <div onclick="unSubscribe(this);">
                                <i class="fas fa-user-slash"></i>
                                <span>Unsubscribe</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
<%- include('layouts/footer') %>