<%- include("../layouts/header") %>
    <div class="container my-4">
        <div class="row">
            <% videos.forEach(video => { %>
                <div class="col-md-12 mb-4">
                    <a href="/watch/<%= video.watch %>" class="clear-href">
                        <div class="video-search-sidebar d-flex">
                            <div class="video-sidebar-wrap video-search-wrap">
                                <img src="<%= video.thumbnail %>" class="img-fluid">
                                <span><%= video.minutes + ":" + video.seconds %></span>
                            </div>
                            <div class="video-sidebar-info d-flex flex-column video-search-sidebar-info-wrap">
                                <div class="video-sidebar-info__title video-search-title three-dot-video-name"><%= video.title %></div>
                                <div class="video-sidebar-info__views"><%= video.views %> views</div>
                                <div class="video-sidebar-info__channel">
                                    <img
                                        src="<%= video.user.image %>"
                                        onerror="this.src = 'http://placehold.it/150x150'"
                                        class="circle-bars video-search-avatar-bars"
                                        data-channel-id="<%= video.user._id %>"
                                        onclick="redirectToChannel(event);"
                                    />
                                    <%= video.user.name %>
                                </div>
                                <div class="three-dot-video-name"><%= video.description %></div>
                            </div>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
<%- include("../layouts/footer") %>