<%- include("../layouts/header") %>
    <div class="container my-4" id="videos-container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12"></div>
                </div>

                <h1 class="mt-4">
                    <%= video.title %>
                </h1>

                <p class="lead">
                    <a href="/channel/<%= video.user._id %>">
                        by <%= video.user.name %>
                    </a>
                </p>

                <hr>

                <p>
                    <%
                        const createdAt = new Date(video.createdAt);
                        const date = createdAt.getDate() + "";
                    %>

                    Posted on <%= date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear() %>
                </p>

                <hr>

                <input type="hidden" id="videoId" value="<%= video._id %>">
                <input type="hidden" id="category" value="<%= video.category %>">

                <div class="row">
                    <div class="col-md-12">
                        <video
                            id="videoPlayer"
                            controls
                            style="width: 100%;"
                            src="<%= baseUrl + video.filePath %>"
                            poster="<%= baseUrl + video.thumbnail %>"
                        ></video>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-0">
                            <i class="fa fa-eye"></i>
                            <%= video.views %> views
                        </div>
                    </div>

                    <div class="col-md-4">
                        <%- include('../common/like') %>
                        <%- include('../common/dislike') %>
                    </div>

                    <div class="col-md-4">
                        <%- include('../common/subscribe') %>
                    </div>
                </div>

                <hr>

                <p class="text-center">
                    <b>Category : </b>
                    <a href="/video/search/category/<%= video.category %>">
                        <%= video.category %>
                    </a>
                </p>

                <hr>

                <p class="lead">
                    <%= video.description %>
                </p>

                <%- include('../common/comment') %>
            </div>

            <div class="col-md-4">
                <%- include('../common/side-bar') %>
            </div>
        </div>
    </div>
<%- include("../layouts/footer") %>