<%- include("../layouts/header") %>
    <div class="container my-4" id="videos-container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
                <%
                    const createdAt = new Date(video.createdAt);
                    const date = createdAt.getDate() + "";
                %>

                <input type="hidden" id="videoId" value="<%= video._id %>">
                <input type="hidden" id="category" value="<%= video.category %>">

                <div class="row">
                    <div class="col-md-12">
                        <video
                            id="videoPlayer"
                            controls
                            style="width: 100%; border-radius: 10px;"
                            poster="<%= baseUrl + video.thumbnail %>"
                        >
                            <source src="<%= baseUrl + 'video/get/' + video._id %>" type="video/mp4">
                        </video>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 my-2">
                        <div class="video-header-wrap">
                            <div class="video-header__title three-dot-video-name my-1">
                                <%= video.title %>
                            </div>
                            <div class="video-header__action">
                                <div class="video-header__action-channel">
                                    <img
                                        src="<%= baseUrl + video.user.image %>"
                                        onerror="this.src = 'http://placehold.it/150x150'"
                                        class="circle-bars"
                                        data-channel-id="<%= video.user._id %>"
                                        onclick="redirectToChannel(event);"
                                    />
                                </div>
                                <div class="video-header__action-username">
                                    <div class="channel-name-info three-dot">
                                        <%= video.user.name %>
                                    </div>
                                    <div class="channel-subcribers-info three-dot">
                                        <%= video.user.subscribers + ' người đăng kí' %>
                                    </div>
                                </div>

                                <div class="video-header__action-subscribe">
                                    <%- include('../common/subscribe') %>
                                </div>

                                <div class="video-header__action-option">
                                    <%- include('../common/like') %>
                                    <%- include('../common/dislike') %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 my-2">
                        <div class="description-wrap">
                            <div class="view-and-date my-1">
                                <%= video.views + ' views' %>   Posted on <%= date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear() %>
                            </div>
                            <div class="description-content my-1">
                                <%= video.description %>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <p class="text-center">
                    <b>Category : </b>
                    <a href="/video/search/category/<%= video.category %>">
                        <%= video.category %>
                    </a>
                </p>

                <hr>

                <%- include('../common/comment') %>
            </div>

            <div class="col-md-4">
                <%- include('../common/side-bar') %>
            </div>
        </div>
    </div>
<%- include("../layouts/footer") %>