<div id="comments">
    <%
        video.comments = video.comments.reverse();

        video.comments.forEach(comment => {
    %>
        <div class="media mb-4">
            <img
                src="<%= comment.user.image %>"
                onerror="this.src = 'http://placehold.it/100x100'"
                alt="comment"
                class="d-flex mr-3 comment-img"
            >

            <div class="media-body">
                <h5 class="mt-0"><%= comment.user.name %></h5>
                <%= comment.comment %>

                <div class="replies" data-comment-id="<%= comment._id %>">
                    <% if (isLogin) { %>
                        <div
                            style="float: right; cursor: pointer;"
                            onclick="createReplyNode(this);"
                            data-comment-id="<%= comment._id %>"
                        >
                            Reply
                        </div>
                    <% } %>

                    <% comment.replies.forEach(reply => { %>
                        <div class="media mt-4">
                            <img
                                src="<%= reply.user.image %>"
                                onerror="this.src = 'http://placehold.it/100x100'"
                                alt=""
                                class="d-flex mr-3 comment-img"
                            >
                            <div class="media-body">
                                <h5 class="mt-0"><%= reply.user.name %></h5>
                                <%= reply.reply %>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    <%
        });
    %>
</div>

<% if (typeof isLogin !== 'undefined' && isLogin) { %>
    <div class="card my-4">
        <div class="card-header">
            Leave a comment :
        </div>

        <div class="card-body">
            <form onsubmit="return postComment(this);">
                <div class="form-group">
                    <textarea name="comment" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>

                <input type="submit" class="btn btn-primary" value="Post comment">
            </form>
        </div>
    </div>
<% } %>